
MONGODB_URI=mongodb+srv://assignmentNine:SskkwKNAwNm4MCQe@cluster0.zitw1rv.mongodb.net/sportnest?retryWrites=true&w=majority&appName=Cluster0
JWT_SECRET=p52xso0d9URCQyucev1S4z7GwntOBYNmVhaTg6ADb8EWXlqrFfKjkIZMJ3iHLP
BETTER_AUTH_SECRET=da1e88ffbaf4669dbdcd7301fa110052faada30753bbdd2ffd1afd1ec8c15bc3
CLIENT_URL=https://sportnest-mdra-client.vercel.app
